node_modules/
.env

data/photos.json
!data/.gitkeep

uploads/*
!uploads/.gitkeep
!uploads/originals/
!uploads/optimized/
uploads/originals/*
uploads/optimized/*
!uploads/originals/.gitkeep
!uploads/optimized/.gitkeep

backups/*
!backups/.gitkeep

*.log
*.zip
output/pdf/*.png
